/* custom css rules */

body {
	font-family: 'Avenir Next', sans-serif;
}

h1, h3 {
	text-align: center;
	margin-top: 30px;
}

#block-cat {
	width: 200px;
	display: block;
	margin: 0 auto;
}

#suggestion {
	text-align: center;
}

img {
	width:20%;
}

#demo {
	display: none;
}